* {
  margin: 25px;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #121212;
  color: #88D1CC;
  font-size: 18px;
}

p {
  padding: 20px 0 20px 10px; /* Top Right Bottom Left */
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: ##A1F7F2;
  font-weight: normal;
  background-color: #466B69;
  border-radius: 10px;
}

ol {
  list-style: decimal;
}

ol, ul {
  margin-left: 100px;
}

h1 {
  padding: 50px;
  border: 1px solid #000000;
  font-size: 42px;
}

h2 {
  padding: 25px;
  border: 1px solid #000000;
  font-size: 28px;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #A1F7F2;
  background-color: #121212;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 3px solid #A1F7F2;
  border-radius: 40px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #466B69;
  background-color: #88D1CC;
}

.horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #121212;
  align-content: center;
}

.horizontal li {
  display: inline;
}

.horizontal li a {
  width: 250px;
  color: #88D1CC;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
.horizontal li a:hover {
  background-color: #88D1CC;
  color: #466B69;
}
